body{
    text-align: center;
    background: rgb(211, 219, 243);
}
h1{
    font-size: 50px;
    margin-top: 40px;
}
.search input {
    border-radius: 15px 0 0 15px;
    border: 2px solid #ccc;
    padding: 10px;
    outline: none;
    font-size: 16px;
}
.search button {
    border-radius: 0 15px 15px 0;
    border: 2px solid #ccc;
    padding: 10px 15px;
    background-color: #7bb4ea;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
.search button:hover {
    background-color: #3d5291;
}
.weatherDisplay{
    margin-top: 45px;
    padding: 110px;
    background-color: #88c3ee;
    border-radius: 20px;
    margin-left: 475px;
    margin-right: 475px;
}
.temperature{
    font-size: 75px;
}
.degree{
    font-size: 50px;
}
.location{
    font-size: 40px;
    padding: 30px;
}
.description{
    font-size: 25px;
}
