body{
    text-align: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
}
h1{
    font-size: 50px;
    margin-top: 55px;
    color: white;
}
.search input {
    border-radius: 15px 0 0 15px;
    border: 2px solid #ccc;
    padding: 10px;
    outline: none;
    font-size: 16px;
}
.search button {
    border-radius: 0 15px 15px 0;
    border: 2px solid #ccc;
    padding: 10px 15px;
    background-color: #4c9be4;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
.search button:hover {
    background-color: #3f6ae9;
}
.weatherDisplay{
    margin-top: 35px;
    padding: 110px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: 475px;
    margin-right: 475px;
}
.temperature{
    font-size: 75px;
}
.degree{
    font-size: 50px;
}
.location{
    font-size: 30px;
    padding: 30px;
}
.description{
    font-size: 20px;
}
